
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: white;
    margin: 0;
}

footer{
    background-color: rgb(202, 202, 202);
    padding: 50px;
}

.main{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 12px;
}

.links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 58px;
    margin: 40px;
}

img{
    
}

.responsiveimg{
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
  margin-right: auto;
}

.iimg{
    
}

h4{
    margin: 10px;
}

.dis{
    display: flex;
    justify-content:center;
    margin-bottom: 80px;
}

.category{
    flex-basis: 1;
    width: 150px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.sazetak{
    text-align: center;
    font-weight: bold;
}

.tekst_body{
    text-align:justify;
}

p{
    text-align: justify;
}

